body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #2fb195;
  color: white;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #238670;
}

#counter {
  margin: 0px;
  font-size: 150px;
  background-image: linear-gradient(90deg, #007bff, #00ff88);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
